{% include 'lab4_navbar.html' %}

<!DOCTYPE html>
<html>
<head>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  background: rgb(114, 114, 114);
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgb(202, 66, 195);
}
.container {
  padding: 2px 16px;
}
h1 {
    color :rgb(202, 66, 195);
    text-align: center;
}
h3 {
    color :rgb(255, 255, 255)
}
p {
    color :rgb(255, 255, 255)
}
</style>
</head>
<body style="background-color: rgb(43, 41, 41);">

<h1>Note Cards</h2>

{% for i in notes %}

<div class="card">
  <div class="container">
    <h3><b>From     : {{ i.sender }}</b></h4> 
    <h3><b>To       : {{ i.reciever }}</b></h4> 
    <h3><b>Title    : {{ i.title }}</b></h4> 
    <p>━━━━━━━━━━━</p> 
    <p>{{ i.message }}</p> 
  </div>
</div>

{% endfor %}

</body>
</html> 
