{% include 'lab4_navbar.html' %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>All Notes</title>
  </head>
  <body style="background-color: rgb(43, 41, 41);">
    <style>
      th, td {
        border:2px solid rgb(202, 66, 195);
        color: rgb(255, 255, 255);
        padding: 10px 10px;
      }
      .table {
        border:2px solid rgb(202, 66, 195);
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
      }
      h1{
        text-align: center;
        color : rgb(202, 66, 195)
      }
    </style>
    
    <h1><br>All Notes</h1>
    
    <table class="table">
      <tr>
        <th>Reciever</th>
        <th>Sender</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% for i in notes %}
      <tr>
        <td>{{i.reciever}} </td>
        <td>{{i.sender}}</td>
        <td>{{i.title}}</td>
        <td>{{i.message}}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>