{% include 'lab4_navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Note</title>
</head>
<style>
    input{
        font-size: 20px;
        color: rgb(0, 0, 0);
        border-width: 2px;
        border-style: solid;
        border-color: rgb(202, 66, 195);
        background-color: rgb(255, 255, 255);
    }
    .inputDiv{
        display: flex;
        flex-direction: column;
        
    }
    .inputDiv label{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-bottom: 5px;
    }
    form{
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        text-align: center;
        color: rgb(202, 66, 195);
    }
    .styling{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .button{
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        margin-bottom: auto;
        color: white;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: flex;
        font-size: 16px;
        transition-duration: 0.4s;
        background-color: rgb(202, 66, 195);
        border: 2px solid rgb(255, 255, 255);
    }
    .button:hover{
        background-color: rgb(255, 255, 255);
        color: rgb(202, 66, 195);
    }
    
</style>
<h1>
    Add Note
</h1>
<body style="background-color: rgb(43, 41, 41);">
    <form action="" method="POST"> {% csrf_token %}
        <div class="styling">
            <div class="inputDiv">
                <label>Sender</label>
                <input type="text" placeholder="Enter Sender" name="sender" maxlength="30"><br>
            </div>
            <div class="inputDiv">
                <label>Reciever</label>
                <input type="text" placeholder="Enter Reciever" name="reciever" maxlength="30"><br>
            </div>
            <div class="inputDiv">    
                <label>Title</label> 
                <input type="text" placeholder="Title of Message" name="title" maxlength="30"><br>
            </div>
	    <div class="inputDiv">
                <label>Message</label> 
                <textarea
                style="border-color: rgb(202, 66, 195);
                border-width: 2px;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;"
                rows = "8" cols = "23" name = "message"></textarea>
                <!-- <input style="height:200px;" type="text" name="message"><br> -->
            </div>
        </div>
            <div>
                <button class="button" type ="submit" value="Submit">Submit your Note</button>
                </div>

    </form>
</body>
</html>