<body style="background-color: rgb(255, 101, 81);">
    <form action="" method="POST"> {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Save new friend'/>
    </form>
</body>