<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <style>
    table, th, td {
      border:2px solid rgb(255, 255, 255);
    }
    </style>
  <body style="background-color: rgb(255, 101, 81);">
    <h1>Friend List</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      {% for i in friends %}
      <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.npm }}</td>
        <td>{{ i.date }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
