<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>All Notes</title>
  </head>
  <style>
    table, th, td {
      border:2px solid rgb(16, 182, 24);
    }
    </style>
  <body>
    <h1>All Notes</h1>
    <table>
      <tr>
        <th>TO</th>
        <th>FROM</th>
        <th>TITLE</th>
        <th>MESSAGE</th>
      </tr>
      {% for i in notes %}
      <tr>
        <td>{{ i.reciever }}</td>
        <td>{{ i.sender }}</td>
        <td>{{ i.title }}</td>
        <td>{{ i.message }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
